"""dnapaymentspartnerreportingsettlementapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from dnapaymentspartnerreportingsettlementapis.api_helper import (
    APIHelper,
)
from dnapaymentspartnerreportingsettlementapis.apis.base_api import (
    BaseApi,
)
from dnapaymentspartnerreportingsettlementapis.configuration import (
    Server,
)
from dnapaymentspartnerreportingsettlementapis.exceptions.error_exception import (
    ErrorException,
)
from dnapaymentspartnerreportingsettlementapis.http.http_method_enum import (
    HttpMethodEnum,
)
from dnapaymentspartnerreportingsettlementapis.models.auth_token_response import (
    AuthTokenResponse,
)


class AuthenticationApi(BaseApi):
    """A Controller to access Endpoints in the
    dnapaymentspartnerreportingsettlementapis API.
    """

    def __init__(self, config):
        """Initialize AuthenticationApi object."""
        super(AuthenticationApi, self).__init__(config)

    def get_access_token(self,
                         grant_type,
                         scope,
                         client_id,
                         client_secret):
        """Perform a POST request to /oauth2/token.

        Prior to querying any Reporting or Settlement API endpoint, an access token
        must be obtained. This endpoint is shared by both the Reporting API and the
        Settlement API (both use the `partners_reporting` scope).

        Args:
            grant_type (GrantType): Authorisation type required to confirm the action
                required.
            scope (Scope): Scope of the action to be performed with the credentials.
            client_id (str): Provided to the integrator following successful creation
                of a test account.
            client_secret (str): Provided to the integrator following successful
                creation of a test account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Access token
                successfully issued.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oauth2/token")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("grant_type")
                .value(grant_type)
                .is_required(True))
            .form_param(Parameter()
                .key("scope")
                .value(scope)
                .is_required(True))
            .form_param(Parameter()
                .key("client_id")
                .value(client_id)
                .is_required(True))
            .form_param(Parameter()
                .key("client_secret")
                .value(client_secret)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AuthTokenResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException),
        ).execute()
