"""dnapaymentspartnerreportingsettlementapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from dnapaymentspartnerreportingsettlementapis.api_helper import (
    APIHelper,
)
from dnapaymentspartnerreportingsettlementapis.apis.base_api import (
    BaseApi,
)
from dnapaymentspartnerreportingsettlementapis.configuration import (
    Server,
)
from dnapaymentspartnerreportingsettlementapis.exceptions.error_exception import (
    ErrorException,
)
from dnapaymentspartnerreportingsettlementapis.http.http_method_enum import (
    HttpMethodEnum,
)
from dnapaymentspartnerreportingsettlementapis.models.ecommerce_transaction import (
    EcommerceTransaction,
)
from dnapaymentspartnerreportingsettlementapis.models.ecommerce_transactions_response import (  # noqa: E501
    EcommerceTransactionsResponse,
)


class EcommerceTransactionsApi(BaseApi):
    """A Controller to access Endpoints in the
    dnapaymentspartnerreportingsettlementapis API.
    """

    def __init__(self, config):
        """Initialize EcommerceTransactionsApi object."""
        super(EcommerceTransactionsApi, self).__init__(config)

    def get_ecommerce_transactions(self,
                                   mfrom,
                                   to,
                                   page=1,
                                   size=50,
                                   merchant_id=None,
                                   status=None,
                                   processor=None,
                                   search_by=None):
        """Perform a GET request to /v1/partners/transactions.

        Query Ecommerce transactions processed by your merchants. Transactions are
        available for 365 days; a maximum span of 30 days can be specified per
        request via `from`/`to`.

        Args:
            mfrom (datetime): Start date/time for transactions. Transactions are
                available for 365 days and a maximum of 30 days can be specified per
                request. ISO 8601 format.
            to (datetime): End date/time for transactions. Transactions are available
                for 365 days and a maximum of 30 days can be specified per request.
                ISO 8601 format.
            page (int, optional): Page number required.
            size (int, optional): Number of records to return.
            merchant_id (str, optional): Unique id(s) for the merchant, allocated by
                DNA Payments and returned in GET Merchants. Up to 10 IDs may be
                submitted, comma separated. Specifying an id will only return results
                for that merchant.
            status (str, optional): Filter by transaction status. Multiple statuses
                may be supplied, comma separated. See the Ecommerce Reference
                documentation for the full list of statuses (not available at
                spec-generation time).
            processor (Processor, optional): Filter transactions by the platform
                responsible for processing the transaction.
            search_by (str, optional): Allows filtering of transactions by the field
                used to match the from/to date range (as documented, this parameter
                mirrors the processor filtering behaviour described in the source
                docs).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Transactions returned
                successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/partners/transactions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("from")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    mfrom))
                .is_required(True))
            .query_param(Parameter()
                .key("to")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    to))
                .is_required(True))
            .query_param(Parameter()
                .key("page")
                .value(page))
            .query_param(Parameter()
                .key("size")
                .value(size))
            .query_param(Parameter()
                .key("merchantId")
                .value(merchant_id))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("processor")
                .value(processor))
            .query_param(Parameter()
                .key("searchBy")
                .value(search_by))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("BearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EcommerceTransactionsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException)
            .local_error("403",
                "Forbidden — authorisation has failed due to insufficient permissions"
                ".",
                ErrorException),
        ).execute()

    def get_ecommerce_transaction_by_id(self,
                                        transaction_id):
        """Perform a GET request to /v1/partners/transactions/{transactionId}.

        Query a single Ecommerce transaction processed by any of your merchants,
        using the transaction ID returned from a previous list query.

        Args:
            transaction_id (str): Unique transaction ID, as returned by GET
                Transactions.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Transaction returned
                successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/partners/transactions/{transactionId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("transactionId")
                .value(transaction_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("BearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EcommerceTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException)
            .local_error("403",
                "Forbidden — authorisation has failed due to insufficient permissions"
                ".",
                ErrorException)
            .local_error("404",
                "Not Found — the requested resource does not exist.",
                ErrorException),
        ).execute()
