"""dnapaymentspartnerreportingsettlementapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from dnapaymentspartnerreportingsettlementapis.api_helper import (
    APIHelper,
)
from dnapaymentspartnerreportingsettlementapis.apis.base_api import (
    BaseApi,
)
from dnapaymentspartnerreportingsettlementapis.configuration import (
    Server,
)
from dnapaymentspartnerreportingsettlementapis.exceptions.error_exception import (
    ErrorException,
)
from dnapaymentspartnerreportingsettlementapis.http.http_method_enum import (
    HttpMethodEnum,
)
from dnapaymentspartnerreportingsettlementapis.models.merchant_v_1 import (
    MerchantV1,
)
from dnapaymentspartnerreportingsettlementapis.models.merchants_v_2_response import (
    MerchantsV2Response,
)


class MerchantsApi(BaseApi):
    """A Controller to access Endpoints in the
    dnapaymentspartnerreportingsettlementapis API.
    """

    def __init__(self, config):
        """Initialize MerchantsApi object."""
        super(MerchantsApi, self).__init__(config)

    @deprecated()
    def get_merchants_v_1(self):
        """Perform a GET request to /v1/partners/merchants.

        Returns the merchants available to the authenticated partner. **Deprecated**
        — use V2 (`/v2/partners/merchants`) instead.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Merchants returned
                successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/partners/merchants")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("BearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MerchantV1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException)
            .local_error("403",
                "Forbidden — authorisation has failed due to insufficient permissions"
                ".",
                ErrorException),
        ).execute()

    def get_merchants_v_2(self,
                          processor=None,
                          page=1,
                          size=1000):
        """Perform a GET request to /v2/partners/merchants.

        Returns the merchants available to the authenticated partner, including
        terminal configuration for each merchant. Supports pagination and filtering
        by processor.

        Args:
            processor (Processor, optional): Filter merchants by the processor used
                for transactions.
            page (int, optional): Specifies which set of records to retrieve.
            size (int, optional): Specifies how many records per page will be
                returned.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Merchants returned
                successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v2/partners/merchants")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("processor")
                .value(processor))
            .query_param(Parameter()
                .key("page")
                .value(page))
            .query_param(Parameter()
                .key("size")
                .value(size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("BearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MerchantsV2Response.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException)
            .local_error("403",
                "Forbidden — authorisation has failed due to insufficient permissions"
                ".",
                ErrorException),
        ).execute()
