"""dnapaymentspartnerreportingsettlementapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from dnapaymentspartnerreportingsettlementapis.api_helper import (
    APIHelper,
)
from dnapaymentspartnerreportingsettlementapis.apis.base_api import (
    BaseApi,
)
from dnapaymentspartnerreportingsettlementapis.configuration import (
    Server,
)
from dnapaymentspartnerreportingsettlementapis.exceptions.error_exception import (
    ErrorException,
)
from dnapaymentspartnerreportingsettlementapis.http.http_method_enum import (
    HttpMethodEnum,
)
from dnapaymentspartnerreportingsettlementapis.models.pos_transaction import (
    PosTransaction,
)
from dnapaymentspartnerreportingsettlementapis.models.pos_transactions_response import (
    PosTransactionsResponse,
)


class PosTransactionsApi(BaseApi):
    """A Controller to access Endpoints in the
    dnapaymentspartnerreportingsettlementapis API.
    """

    def __init__(self, config):
        """Initialize PosTransactionsApi object."""
        super(PosTransactionsApi, self).__init__(config)

    def get_pos_transactions(self,
                             mfrom,
                             to,
                             page=1,
                             size=50,
                             merchant_id=None,
                             status=None):
        """Perform a GET request to /v1/partners/pos/transactions.

        Query all POS transactions processed by your merchants. Transactions are
        available for 365 days; a maximum span of 30 days can be specified per
        request via `from`/`to`.

        Args:
            mfrom (datetime): Start date/time for transactions. Transactions are
                available for 365 days and a maximum of 30 days can be specified per
                request. ISO 8601 format.
            to (datetime): End date/time for transactions. Transactions are available
                for 365 days and a maximum of 30 days can be specified per request.
                ISO 8601 format.
            page (int, optional): Page number required.
            size (int, optional): Number of records to return.
            merchant_id (str, optional): Unique id(s) for the merchant, allocated by
                DNA Payments and returned in GET Merchants. Up to 10 IDs may be
                submitted, comma separated. Specifying an id will only return results
                for that merchant.
            status (Status2, optional): Filter POS results by transaction status.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. POS transactions
                returned successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/partners/pos/transactions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("from")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    mfrom))
                .is_required(True))
            .query_param(Parameter()
                .key("to")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    to))
                .is_required(True))
            .query_param(Parameter()
                .key("page")
                .value(page))
            .query_param(Parameter()
                .key("size")
                .value(size))
            .query_param(Parameter()
                .key("merchantId")
                .value(merchant_id))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("BearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PosTransactionsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException)
            .local_error("403",
                "Forbidden — authorisation has failed due to insufficient permissions"
                ".",
                ErrorException)
            .local_error("404",
                "Not Found — the requested resource does not exist.",
                ErrorException)
            .local_error("422",
                "Unprocessable Entity — the API cannot complete the requested action."
                "",
                ErrorException)
            .local_error("500",
                "Internal Server Error — an internal error has occurred, please try a"
                "gain later.",
                ErrorException)
            .local_error("503",
                "Service Unavailable — API is temporarily offline for maintenance, pl"
                "ease try again later.",
                ErrorException),
        ).execute()

    def get_pos_transaction_by_id(self,
                                  transaction_id):
        """Perform a GET request to
        /v1/partners/pos/transactions/{transactionId}.

        Query a single POS transaction processed by any of your merchants, using the
        transaction ID returned from a previous list query.

        Args:
            transaction_id (str): Unique transaction ID, as returned by GET POS
                Transactions.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. POS transaction
                returned successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/partners/pos/transactions/{transactionId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("transactionId")
                .value(transaction_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("BearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PosTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException)
            .local_error("403",
                "Forbidden — authorisation has failed due to insufficient permissions"
                ".",
                ErrorException)
            .local_error("404",
                "Not Found — the requested resource does not exist.",
                ErrorException)
            .local_error("422",
                "Unprocessable Entity — the API cannot complete the requested action."
                "",
                ErrorException)
            .local_error("500",
                "Internal Server Error — an internal error has occurred, please try a"
                "gain later.",
                ErrorException)
            .local_error("503",
                "Service Unavailable — API is temporarily offline for maintenance, pl"
                "ease try again later.",
                ErrorException),
        ).execute()
