"""dnapaymentspartnerreportingsettlementapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from dnapaymentspartnerreportingsettlementapis.api_helper import (
    APIHelper,
)
from dnapaymentspartnerreportingsettlementapis.apis.base_api import (
    BaseApi,
)
from dnapaymentspartnerreportingsettlementapis.configuration import (
    Server,
)
from dnapaymentspartnerreportingsettlementapis.exceptions.error_exception import (
    ErrorException,
)
from dnapaymentspartnerreportingsettlementapis.http.http_method_enum import (
    HttpMethodEnum,
)
from dnapaymentspartnerreportingsettlementapis.models.settlements_response import (
    SettlementsResponse,
)


class SettlementsApi(BaseApi):
    """A Controller to access Endpoints in the
    dnapaymentspartnerreportingsettlementapis API.
    """

    def __init__(self, config):
        """Initialize SettlementsApi object."""
        super(SettlementsApi, self).__init__(config)

    def get_settlements(self,
                        mfrom,
                        to,
                        page=1,
                        size=50,
                        search_by=None,
                        merchant_id=None,
                        transaction_id=None):
        """Perform a GET request to /v3/partners/settlements.

        Query settlements for your merchants. Settlement records are available for
        365 days; a maximum span of 30 days can be specified per request via
        `from`/`to`.

        Args:
            mfrom (date): Start date for settlements. Available for 365 days; a
                maximum of 30 days can be specified.
            to (date): End date for settlements. Available for 365 days; a maximum of
                30 days can be specified.
            page (int, optional): Page number required.
            size (int, optional): Number of records to return.
            search_by (SearchBy, optional): Confirms which date is being used in the
                query. If not supplied, `processed-date` is used.
            merchant_id (str, optional): Unique id(s) for the merchant, allocated by
                DNA Payments and returned in GET Merchants. Up to 10 IDs may be
                submitted, comma separated. Specifying an id will only return results
                for that merchant.
            transaction_id (str, optional): Filter settlements by a specific
                transaction ID.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Settlements returned
                successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v3/partners/settlements")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("from")
                .value(mfrom)
                .is_required(True))
            .query_param(Parameter()
                .key("to")
                .value(to)
                .is_required(True))
            .query_param(Parameter()
                .key("page")
                .value(page))
            .query_param(Parameter()
                .key("size")
                .value(size))
            .query_param(Parameter()
                .key("searchBy")
                .value(search_by))
            .query_param(Parameter()
                .key("merchantId")
                .value(merchant_id))
            .query_param(Parameter()
                .key("transactionId")
                .value(transaction_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("BearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SettlementsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request — request format is invalid.",
                ErrorException)
            .local_error("401",
                "Unauthorized — invalid authentication credentials have been supplied"
                ".",
                ErrorException)
            .local_error("403",
                "Forbidden — authorisation has failed due to insufficient permissions"
                ".",
                ErrorException)
            .local_error("404",
                "Not Found — the requested resource does not exist.",
                ErrorException)
            .local_error("422",
                "Unprocessable Entity — the API cannot complete the requested action."
                "",
                ErrorException)
            .local_error("500",
                "Internal Server Error — an internal error has occurred, please try a"
                "gain later.",
                ErrorException)
            .local_error("503",
                "Service Unavailable — API is temporarily offline for maintenance, pl"
                "ease try again later.",
                ErrorException),
        ).execute()
